<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
    <div class="card mb-3" style="">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="/images/cardimages/RedWineBottleAndGlass_1.svg" class="card-img m-3" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><span class="WineCardName">Bandedra Smoozie</span></h5>
                    <hr />
                    <h5 class="card-subtitle">Wine Type: Red</h5>
                    <p></p>
                    <p class="card-subtitle">Wine Components: comtonent 1, component2, component3, component4, component5</p>
                    <p></p>
                    <h5>Price: <span class="WineCardPrice">21$/liter</span></h5>
                    <div class="row no-gutters">
                        <div class="col-md-5 col-sm-5">
                            <a href="#">
                                <MudButton Variant="Variant.Text" Color="Color.Secondary">Learn More</MudButton>
                            </a>
                        </div>
                        <div class="col-md-5 col-sm-5">
                            <a href="#">
                                <MudButton Variant="Variant.Text" EndIcon="@Icons.Material.Filled.CompareArrows" Color="Color.Secondary">Compare</MudButton>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <MudToggleIconButton @bind-Toggled="@LikeOn" style="padding-top: 5px"
                                                 Icon="@Icons.Outlined.FavoriteBorder" Color="@Color.Dark" Title="Off"
                                                 ToggledIcon="@Icons.Material.Filled.Favorite" ToggledColor="@Color.Error" ToggledTitle="On" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    public bool LikeOn { get; set; }
}
