@using Shared.Components
@page "/wine-recipe"
@**@
<div class="container">
    <div class="row">
        <div class="col-md-6 wineImage">
            <img class="" style="max-height: 700px; margin-left:auto; margin-right:auto; display: block; " src="/images/cardimages/RedWineBottleAndGlass_1.svg" />
        </div>
        <div class="col-md-6">
            <div class=row>
                <div class="col-md-8">
                    <h1>Bandera Smoozie</h1>

                </div>
                <div class="col-md-2">
                    <div class="col-md-2 col-sm-2">
                        <MudToggleIconButton Size="Size.Large" @bind-Toggled="@AddedToCompare" style="padding-top: 5px"
                                             Icon="@Icons.Filled.Balance" Color="@Color.Dark" Title="Off" ToggledSize="Size.Large"
                                             ToggledIcon="@Icons.Filled.Balance" ToggledColor="@Color.Error" ToggledTitle="On" />
                    </div>

                </div>
                <div class="col-md-2">
                    <div class="col-md-2 col-sm-2">
                        <MudToggleIconButton Size="Size.Large" @bind-Toggled="@LikeOn" style="padding-top: 5px"
                                             Icon="@Icons.Outlined.FavoriteBorder" Color="@Color.Dark" Title="Off" ToggledSize="Size.Large"
                                             ToggledIcon="@Icons.Material.Filled.Favorite"  ToggledColor="@Color.Error" ToggledTitle="On" />
                    </div>
                </div>
            </div>
            <hr style="max-width: 60%" />
            <h2 style="font-weight: 200;">Wine type: Red</h2>
            <h2 style="font-weight: 200;">Grape: Victoria</h2>
            <h2 style="font-weight: 400;">Components:</h2>
            <p style="font-size: 24px">Component1, Component2, Component3, Component4, Component5</p>
            <h3 class="mb-3 " style="font-weight: 300;">Volume of order (liters)</h3>
            <div class="row">
                <div class="col-md-5 col-lg-4 col-xl-3 mt-3 mb-3">
                    <div class="input-group">
                        <button class="btn btn-outline-secondary" type="button" onclick="@ReduceVolume"><span style="font-weight:600; font-size:16px">-</span></button>
                        <input type="text" class="form-control" style="font-weight: 600; font-size:16px" aria-label="Volume of order" value="@Volume" disabled>
                        <button class="btn btn-outline-secondary" type="button" onclick="@AddVolume"><span style="font-weight: 600; font-size:16px">+</span></button>
                    </div>
                </div>
            </div>
            <h2 class="mb-3 mt-3"><span style="font-weight: 200;">Price: </span><span style="color: forestgreen;">@Price$/liter</span></h2>
            <MudButton class="mb-3 mt-3" Size="Size.Large" Variant="Variant.Filled" EndIcon="@Icons.Filled.AddShoppingCart" Color="Color.Secondary"><span style="font-size: 24px">Add to cart on Sum: @Sum$</span></MudButton>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mt-6">
            <h2>Description</h2>
            <p style="font-size: 24px">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
</div>

@code {
    public decimal Price { get; set; } = 21;
    public int Volume { get; set; } = 10;
    public decimal Sum { get; set; }
    public bool AddedToCompare { get; set; }
    public bool LikeOn { get; set; }

    public void GetSumm()
    {
        Sum = Price * Volume;
    }
    public void AddVolume()
    {
        if (Volume < 55)
        {
            Volume += 5;
            GetSumm();
        }
    }

    public void ReduceVolume()
    {
        if (Volume > 10)
        {
            Volume -= 5;
            GetSumm();
        }

    }
    protected override void OnInitialized()
    {
        Sum = Price * Volume;
    }
}
