@page "/recipes/{Id}"

@using Rewinery.Client.Infrastructure
@using Rewinery.Shared.WineGroup.Wine

@inject HttpWineRepository _httpWine

<PageTitle>Wine name</PageTitle>

@if (wine != null)
{
    <div class="wine-bg-animation" style="height: 100vh;">
        <div class="frozen-glass" style="width:80%; height:83%; margin-left: 15%; overflow: unset;">
            <div class="row">
                <div class="col-3">
                    <div class="wine-img-cover position-absolute top-50 translate-middle">
                        <img class="wine-img" src="@wine.Icon">
                    </div>
                </div>
                <div class="col-9 px-4">
                    <div class="wine-content">
                        <h4 class="fw-bolder wine-name">@wine.Name</h4>
                        <hr style="width: 90%;margin-left: 5%;height: 2px;" />
                        <div class="row">
                            <div class="col-md-3 mx-10">
                                <h6 class="pb-3">Type:</h6>
                                <h6 class="pb-3">Variety:</h6>
                                <h6 class="pb-3">Grape:</h6>
                                <h6 class="pb-3">Ingradient:</h6>
                            </div>
                            <div class="col-md-3">
                                <h6 class="pb-3">@wine.Grape.Category</h6>
                                <h6 class="pb-3">@wine.Grape.Subcategory</h6>
                                <h6 class="pb-3">@wine.Grape.Name</h6>
                                @foreach(var ing in @wine.Inredients){ingredient += String.Join(", ", ing.ToString());}
                                <h6 class="pb-3">apple, lime, chery, orange</h6>
                            </div>
                        </div>
                        <p>@wine.Description</p>
                        <div class="row position-absolute bottom-0 end-0 m-4">
                            <div class="col">Price: @wine.Price</div>
                            <button type="button" class="col btn btn-secondary">Order</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public string? Id { get; set; }

    public WineDto? wine;
    string? ingredient;

    protected override async Task OnInitializedAsync()
    {
        wine = await _httpWine.GetAsync(Id);
    }
}
