@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Style="@($"{MudAppBarStyle}")" Fixed="true" Dense="true" Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Primary" Edge="Edge.Start" OnClick="@OpenDrawer" />
        <MudSpacer />
        <form class="d-flex w-50">
            <input class="form-control me-2 h-75 justify-content-center m-auto" type="search" placeholder="Search" aria-label="Search">
            <MudIconButton Href="#" Icon="@Icons.Filled.Search" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small" />
        </form>
        <MudSpacer />
        <LoginDisplay />
    </MudAppBar>
    <MudDrawer Style="@($"background:{Colors.Grey.Darken4}; color:{Colors.Grey.Lighten4};")" @bind-Open="@open" ClipMode="DrawerClipMode.Always" Anchor="@anchor" Elevation="1" Variant="@DrawerVariant.Temporary">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">Rewinery</MudText>
        </MudDrawerHeader>
        <MudNavMenu>
            <MudNavLink Match="NavLinkMatch.All" Href="/">Home</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Href="/winerecepies">Recepies</MudNavLink>
        </MudNavMenu>
    </MudDrawer>
    @Body
</MudLayout>

@code {
    bool open;
    Anchor anchor;
    public string? Search { get; set; }
    string MudAppBarStyle = "margin: 1%; border-radius: 16px; width: 98%; background: inherit;" + 
    "background-color: unset; color: unset;  box-shadow: inset 0 0 500px rgba(255, 255, 255, .4); filter: blur(50%); box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.15);";

    void OpenDrawer()
    {
        open = true;
        anchor = Anchor.Start;
    }
}