@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Style="@($"{MudAppBarStyle}")" Fixed="true" Dense="true" Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Primary" Edge="Edge.Start" OnClick="@(() => ToggleDrawer())" />
        <MudSpacer />
        <form class="d-flex w-50">
            <input class="form-control me-2 h-75 justify-content-center m-auto" type="search" placeholder="Search" aria-label="Search">
            <MudIconButton Href="#" Icon="@Icons.Filled.Search" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small" />
        </form>
        <MudSpacer />
        <LoginDisplay />
    </MudAppBar>
    <MudDrawer Style="@($"{MudDrawerStyle}")" @bind-Open="@open" Anchor="Anchor.Start" Elevation="1" DisableOverlay="true" ClipMode="DrawerClipMode.Always" Variant="@DrawerVariant.Temporary">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">Rewinery</MudText>
        </MudDrawerHeader>
        <MudNavMenu>
            <MudNavLink Match="NavLinkMatch.All" Href="/">Home</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Href="/winerecepies">Recepies</MudNavLink>
        </MudNavMenu>
    </MudDrawer>
    <div class="bg-animation">
        @Body
    </div>
</MudLayout>

@code {
    bool open;
    public string? Search { get; set; }

    string MudAppBarStyle = "margin: 1%; border-radius: 16px; width: 98%;" +
    "background-color: unset; color: unset;  box-shadow: inset 0 0 500px rgba(255, 255, 255, 0.5), 0 6px 20px rgba(0, 0, 0, 0.4), 0 6px 20px rgba(0, 0, 0, 0.15); backdrop-filter: blur(5px);";
    string MudDrawerStyle = "margin-top: 2% !important; margin-left: 1% !important; padding-top: 2%; height: 88%; width: 14%; border-radius: 16px;" +
    "background-color: unset; color: unset;  box-shadow: inset 0 0 500px rgba(255, 255, 255, 0.5), 0 6px 20px rgba(0, 0, 0, 0.4), 0 6px 20px rgba(0, 0, 0, 0.15); backdrop-filter: blur(15px);";

    void ToggleDrawer()
    {
        open = !open;
    }
}